body {}

.oradores{
display: flex;
flex-direction: row;
justify-content: center;
}
.orador>img {
    width: 100%;
}

.textoOrador{
    margin: 1.5rem;
}
.buttons>input {
    border: 0;
    border-radius: 3px;
    font-weight: bold;
    padding: .2rem .4rem .2rem .4rem;
}

.button_js {
    background-color: rgb(23, 162, 185);
    margin-right: 0.2rem;
}
.button_negocios {
    background-color: rgb(123, 131, 131);
    margin-right: 0.2rem;
}
.button_startups {
    background-color: rgb(207, 29, 29);
    margin-right: 0.2rem;
}
.button_enviar {
    background-color: rgb(65, 207, 29);
border-style: none;
}
.button_react {
    
      background-color: rgb(254, 194, 6);
    color: white;
}
.orador{
    border: 1px solid lightgray;
    border-radius: 5px;
    width: 350px;
}
.titulo_oradores{
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.img_ba1{
    background-image: url("/imagenes/ba1.jpg");
    height: 700px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
.img_honolulu{
    background-image: url("/imagenes/honolulu.jpg");
    height: 700px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  .back_BsAs_octubre{
    background-color: rgb(48, 42, 42);
    text-align: left;
    color: white;
    align-content: flex-start;
  }

.rigth{
    position:absolute;
    right: 5%;
    bottom: 20%;
    width: 600px;
    padding: 20px;
      
}
.color_footer{
    background-color: rgb(30, 83, 90);
    color: white;
}
@media only screen and (max-width:700px){
.oradores{
    flex-direction: column;
justify-items:center;
}
